@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Responsible consumption and production</h1>
    <p class="lead">Unsustainable consumption and production patterns are the root cause of the current triple planetary crisis, leading to pollution, biodiversity loss and climate change.
     <br />
     <br/>
     Goal 12.5 aims to reduce waste generation through prevention, reduction, recycling and reuse.
    </p>
    <p><a href="https://sdgs.un.org/goals/goal12" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>



<div class="row">
    <div class="col-md-4">
        <h2>About the website</h2>
        <p>
            The website aims to provide the user with resources to reduce their carbon footprint. Feel free to browse via the navigation bar, and explore the various options that the website provides to help achieve goal 12.5
        </p>

    </div>
    <div class="col-md-4">
        <h2>Location services</h2>
        <p> The website features Google Maps integeration, which enables the user to locate the nearest recycling station, thrift store, or eco-friendly vendor.</p>

    </div>
    <div class="col-md-4">
        <h2>Usage tracking</h2>
        <p>The website allows the user to log their non-recyclable usage on a weekly basis, and track their proggress by using the graphical representation of the data, which the website provides.   </p>

    </div>


    
    <div class="container">
        

        <div class="row, bg-primary">
            <div class="col"><a href="~/Images/ClassStructure.jpeg"><img src="~/Images/ClassStructure.jpeg" class="img-responsive"/></a></div>
            <div class="col"><a href="~/Images/recycling.png"><img src="~/Images/recycling.png" class="img-responsive" /></a></div>
            <div class="col"><a href="~/Images/Reuse.png"><img src="~/Images/Reuse.png" class="img-responsive" /></a></div>
            <div class="col"><a href="~/Images/Prevention.png"><img src="~/Images/Prevention.png" class="img-responsive" /></a></div>
            <div class="col"><a href="~/Images/Reduction.png"><img src="~/Images/Reduction.png" class="img-responsive" /></a></div>
            <div class="col"><a href="~/Images/homepage.png"><img src="~/Images/homepage.png" class="img-responsive" /></a></div>
        </div>
    </div>



</div>